<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="eng">
<head>
    <th:block th:replace="fragments/head :: header"/>
    <title>Admin page</title>
</head>
<body>
<!--<div class="row">-->
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

<a th:href="@{/hello}">Back to console page</a>

<p>Admin page</p>

<div class="mt-5 ml-5">
    <table border="1">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/admin/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">id</a>
            </th>
            <th>
                <a th:href="@{'/admin/page/' + ${currentPage} + '?sortField=username&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">username</a>
            </th>
            <th>
                <a th:href="@{'/admin/page/' + ${currentPage} + '?sortField=password&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">password</a>
            </th>
            <th>
                <a th:href="@{'/admin/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">email</a>
            </th>
            <th>
                <a th:href="@{'/admin/page/' + ${currentPage} + '?sortField=active&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">active</a>
            </th>
            <th>
                <a th:href="@{'/admin/page/' + ${currentPage} + '?sortField=role&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">role</a>
            </th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:if="${users.size() != 0}">
            <th:block th:each="user : ${users}">
                <tr>
                    <td>
                        <div th:text="${user.id}"></div>
                    </td>
                    <td>
                        <div th:text="${user.username}"></div>
                    </td>
                    <td>
                        <div th:text="${user.password}"></div>
                    </td>
                    <td>
                        <div th:text="${user.email}"></div>
                    </td>
                    <td>
                        <div th:text="${user.active}"></div>
                    </td>
                    <td>
                        <div th:text="${user.role}"></div>
                    </td>
                    <td>
                        <form th:action="@{/admin/users/edit}" method="post">
                            <input type="hidden" name="contactIdToEdit" th:value="${user.id}"/>
                            <button type="submit" class="btn btn-warning btn-sm text-white">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/admin/users/delete}" method="get">
                            <input type="hidden" name="contactIdToDelete" th:value="${user.id}"/>
                            <button type="submit" class="btn btn-danger btn-sm text-white">Delete</button>
                        </form>
                    </td>
                </tr>
            </th:block>
        </th:block>
        <th:block th:unless="${users.size() != 0}">
            <div>No matching</div>
        </th:block>
        </tbody>
    </table>
</div>

<div class="mt-5 ml-5">
    Total elements: [[${totalElements}]] Total pages: [[${currentPage}]] of [[${totalPages}]]

    <a th:if="${currentPage>1}"
       th:href="@{'/admin/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">First</a>
    <span th:unless="${currentPage>1}">First</span>

    <a th:if="${currentPage>1}"
       th:href="@{'/admin/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Previous</a>
    <span th:unless="${currentPage>1}">Previous</span>

    <span th:each="i : ${#numbers.sequence(1,(totalPages == 0 ? 1 : totalPages))}" class="ml-2">
        <a th:if="${i != currentPage}"
           th:href="@{'/admin/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${i}]]</a>
        <span th:unless="${i != currentPage}">[[${i}]]</span>
    </span>

    <a th:if="${currentPage<totalPages}"
       th:href="@{'/admin/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Next</a>
    <span th:unless="${currentPage<totalPages}">Next</span>

    <a th:if="${currentPage<totalPages}"
       th:href="@{'/admin/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Last</a>
    <span th:unless="${currentPage<totalPages}">Last</span>
</div>
<div class="mt-2 ml-5">
    <form th:action="@{/admin/add}" method="get" class="mt-2 ml-5">
        <button type="submit" class="btn btn-success btn-lg text-white">Create user</button>
    </form>
</div>
<div class="mt-2 ml-5">
    <form th:action="@{/admin/page/1}">
        <input type="hidden" name="sortField" th:value="${sortField}">
        <input type="hidden" name="sortDir" th:value="${sortDir}">
        Filter: <input type="text" name="keyword" th:value="${keyword}" required/>
        <br/>
        <input type="submit" value="Search"/>
        <br/>
        <input type="button" value="Clear" id="btnClear" onclick="clearSearch()"/>
    </form>
</div>


<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/scripts :: scripts"/>

<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/admin}]]";
    }
</script>

</body>
</html>