<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="eng">

<head>
    <th:block th:replace="fragments/head :: header"/>
    <title>Hello [[${#httpServletRequest.remoteUser}]]!</title>
</head>
<body>

<div class="wrapper-login">
    <div class="container">

        <div class="col-lg-11 input-login">
            <th:block th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</th:block>

            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/admin}">Console page</a>
                <br/>
                <a th:href="@{/admin/new_user}">New User without Worker<span class="badge"><span th:text="${count_user}"></span></span></a>
                <br/>
                <a th:href="@{/admin/new_message}">New unread message<span class="badge"><span th:text="${count_unread_message}"></span></span></a>
            </div>

            <div sec:authorize="hasRole('ROLE_USER')">
                <form th:action="@{/hello}" method="post" th:object="${message}">
                    <div class="form-group">
                        <label class="input-login" for="text">Type message</label>
                        <br/>
                        <textarea class="form-control" id="text" th:field="${message.text}"
                                  placeholder="Type message" rows="3" cols="50" required></textarea>
                    </div>
                    <input type="submit" class="btn btn-success" value="Enter"/>
                </form>
                <div class="input-login" th:each="message : ${messages}">
                    <span th:if="${message.wasRead == false}">
                            <div class="cont_unread">
                                <div th:text="${message.getAuthor()}"></div>
                                <div th:text="${message.getText()}"></div>
                                <div th:text="${message.getLocalDateTime()}"></div>
                            </div>
                    </span>
                    <span th:unless="${message.wasRead == false}">
                            <div class="cont_read">
                                <div th:text="${message.getAuthor()}"></div>
                                <div th:text="${message.getText()}"></div>
                                <div th:text="${message.getLocalDateTime()}"></div>
                            </div>
                    </span>
                </div>
                <div class="input-login" th:text="${currentWorker}"></div>
            </div>

            <div sec:authorize="hasRole('ROLE_WORKER')">
                <div th:if="${list_user_for_worker.size() == 0}">
                    Empty
                </div>
                <div th:unless="${list_user_for_worker.size() == 0}">
                    <table border="1">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>New message</th>
                            <th>Chat</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="u : ${list_user_for_worker}">
                            <tr>
                                <td><div th:text="${u.id}"></div></td>
                                <td><div th:text="${u.username}"></div></td>
                                <td><div th:text="${u.email}"></div></td>
                                <td><div th:text="${u.unreadCount}"></div></td>
                                <td>
                                    <form th:action="@{/chat}" method="get">
                                        <input type="hidden" name="contactIdToChat" th:value="${u.id}"/>
                                        <button type="submit" class="btn btn-danger btn-sm text-white">Chat</button>
                                    </form>
                                </td>

                            </tr>
                        </th:block>
                        </tbody>
                    </table>

                </div>


                <div>You have <span th:text="${count_new_message}"></span> new messages!</div>
            </div>

        </div>
        <div class="col-lg-1">
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-warning" value="Sign Out"/>
            </form>
        </div>

    </div>
</div>


<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/scripts :: scripts"/>

</body>
</html>