<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="eng">

<head>
    <th:block th:replace="fragments/head :: header"/>
    <title>With Care - Grave Maintenance Service</title>
</head>

<body>
<!-- Header -->
<div class="container-fluid">
    <div class="row">
        <nav role="navigation" class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header header">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>
                                    <a th:href="@{/home}">WithCare</a>
                                </h1>
                                <p>- Grave Maintenance Service -</p>
                            </div>
                        </div>
                    </div>
                    <!-- Button for small screen -->
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="navbarCollapse">
                    <ul class="nav nav-pills">
                        <li><a th:href="@{/home}">Home</a></li>
                        <li><a th:href="@{/service}">Service</a></li>
                        <li><a th:href="@{/price}">Prices</a></li>
                        <li><a th:href="@{/faq}">FAQ</a></li>
                        <li><a th:href="@{/contact}">Contact Us</a></li>
                        <li class="active"><a th:href="@{/login}">Sign In</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Content -->
<!-- Wrapper consist background image -->
<div class="wrapper-login">
    <div class="container">
        <div class="row">

            <div class="input-login" th:text="${message}"></div>
            <div class="col-lg-12 text-center">

                <div class="input-login" th:if="${param.logout}">
                    You have been logged out.
                </div>
                <form class="mtt" th:action="@{/login}" method="post">

                    <div class="err" th:if="${param.error}">
                        Invalid username and password.
                    </div>
                    <div>
                        <label>
                            <input type="text" name="username" placeholder="username"/>
                        </label>
                    </div>

                    <div>
                        <label>
                            <input type="password" name="password" placeholder="password"/>
                        </label>
                    </div>

                    <div class="form-check">
                        <label>
                            <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">
                            <span class="input-login">Remember me</span>
                        </label>
                    </div>

                    <div><input class="btn input-login" type="submit" value="Sign In"/></div>
                    <a class="btn input-login" th:href="@{/registration}">Register account</a>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/scripts :: scripts"/>

</body>

</html>
