<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="eng">

<head>
    <th:block th:replace="fragments/head :: header"/>
    <title>Hello [[${#httpServletRequest.remoteUser}]]!</title>
</head>
<body>

<div class="wrapper-login">
    <div class="container input-login">
        <a th:href="@{/hello}">Back to console page</a>
            <table border="1">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Author</th>
                    <th>Text</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="mes : ${all_unread_message}">
                <tr>
                    <td><div th:text="${mes.id}"></div></td>
                    <td><div th:text="${mes.author}"></div></td>
                    <td><div th:text="${mes.text}"></div></td>
                    <td><div th:text="${mes.localDateTime}"></div></td>
                </tr>
                </th:block>
                </tbody>
            </table>
    </div>
</div>


<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/scripts :: scripts"/>

</body>
</html>