<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="eng">

<head>
    <th:block th:replace="fragments/head :: header"/>
    <title>Hello [[${#httpServletRequest.remoteUser}]]!</title>
</head>
<body>

<div class="wrapper-login">
    <div class="container input-login">
        <a th:href="@{/hello}">Back to console page</a>
        <table border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Current Worker</th>
                <th>Set worker</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${all_user}">
                <tr>
                    <td><div th:text="${user.id}"></div></td>
                    <td><div th:text="${user.username}"></div></td>
                    <td><div th:text="${user.email}"></div></td>
                    <td><div th:text="${user.currentWorker}"></div></td>
                    <td>
                        <form th:action="@{/admin/new_user/set}" method="post" th:object="${user}">
                            <div class="form-group">
                                <input type="hidden" name="contactIdToEdit" th:value="${user.id}"/>
                                <button type="submit" class="btn btn-warning btn-sm text-white">Set worker</button>
                            </div>
                        </form>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div>LIST OF WORKERS</div>
        <table border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="mes : ${workers}">
                <tr>
                    <td><div th:text="${mes.id}"></div></td>
                    <td><div th:text="${mes.username}"></div></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>


<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/scripts :: scripts"/>

</body>
</html>