<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="eng">

<head>
    <th:block th:replace="fragments/head :: header"/>
    <title>Hello [[${#httpServletRequest.remoteUser}]]!</title>
</head>
<body>

<div class="wrapper-login">
    <div class="container">

        <div class="col-lg-11 input-login">

            <div class="input-login" th:each="message : ${messages}">
                <div class="cont_read">
                    <div th:text="${message.getAuthor()}"></div>
                    <div th:text="${message.getText()}"></div>
                    <div th:text="${message.getLocalDateTime()}"></div>
                </div>
            </div>
        </div>


    </div>
</div>


<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/scripts :: scripts"/>

</body>
</html>