<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="eng">

<head>
    <th:block th:replace="fragments/head :: header"/>
    <title>With Care - Grave Maintenance Service</title>
</head>

<body>
<!-- Header -->
<div class="container-fluid">
    <div class="row">
        <nav role="navigation" class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header header">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>
                                    <a th:href="@{/home}">WithCare</a>
                                </h1>
                                <p>- Grave Maintenance Service -</p>
                            </div>
                        </div>
                    </div>
                    <!-- Button for small screen -->
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="navbarCollapse">
                    <ul class="nav nav-pills">
                        <li><a th:href="@{/home}">Home</a></li>
                        <li class="active"><a th:href="@{/service}">Service</a></li>
                        <li><a th:href="@{/price}">Prices</a></li>
                        <li><a th:href="@{/faq}">FAQ</a></li>
                        <li><a th:href="@{/contact}">Contact Us</a></li>
                        <li><a th:href="@{/login}">Sign In</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Content -->
<!-- Wrapper consist background image -->
<div class="wrapper-login">

</div>
<!-- Footer -->
<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/scripts :: scripts"/>

</body>

</html>
