<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="eng">
<head>
    <th:block th:replace="fragments/head :: header"/>
    <title>Title</title>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6 form-group">
            <form th:action="@{/admin/new_user/add}" th:object="${user}" method="post">

                <input type="hidden" name="contactIdToEdit" th:value="${user.id}"/>

                <select th:field="${user.currentWorker}">
                    <option value=""> ---------- </option>
                    <option th:each="worker : ${workers}"
                            th:value="${worker.id}"
                            th:utext="${worker.username}">
                    </option>
                </select>

                <input type="submit" class="btn btn-success btn-lg text-white mt-5" value="Set worker">
            </form>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer"/>
<th:block th:replace="fragments/scripts :: scripts"/>

</body>
</html>
