<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="eng">

<head>
    <th:block th:replace="fragments/head :: header"/>
    <title>With Care - Grave Maintenance Service</title>
</head>

<body>
<!-- Header -->
<div class="container-fluid">
    <div class="row">
        <nav role="navigation" class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header header">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>
                                    <a th:href="@{/home}">WithCare</a>
                                </h1>
                                <p>- Grave Maintenance Service -</p>
                            </div>
                        </div>
                    </div>
                    <!-- Button for small screen -->
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="navbarCollapse">
                    <ul class="nav nav-pills">
                        <li><a th:href="@{/home}">Home</a></li>
                        <li><a th:href="@{/service}">Service</a></li>
                        <li><a th:href="@{/price}">Prices</a></li>
                        <li class="active"><a th:href="@{/faq}">FAQ</a></li>
                        <li><a th:href="@{/contact}">Contact Us</a></li>
                        <li><a th:href="@{/login}">Sign In</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Content -->
<!-- Wrapper consist background image -->
<div class="wrapper">
    <div class="container">
        <div class="row error">
            <h1>401</h1>
            <p>Unauthorized</p>
        </div>
    </div>
</div>

<!-- Footer -->
<footer>
    <div class="container-fluid navbar-inverse">
        <p class="text-center"><a href="https://www.linkedin.com/in/vitaly-toustsik-a866111a2/">&copy; Vitaly Tolstik.
            All rights reserved. </a></p>
    </div>
</footer>

</body>

</html>
