/* Main */
html, body {
    height: 100%;
}

body {
    font-size: 20px;
    font-family: 'Marcellus', serif;
}

textarea {
    resize: none;
}

/* Header */
.header a, a:hover {
    color: white;
    text-decoration: none;
}
.header h1 {
    font-size: 60px;
    font-family: 'Marcellus', serif;
    text-shadow: 1px 1px 2px black;
}

.header p {
    color: white;
    font-size: 16px;
    font-family: 'Marcellus', serif;
    text-shadow: 1px 1px 2px black;
}

/* Header menu */
.collapse ul li {
    color: white;
    font-size: 20px;
    font-family: 'Marcellus', serif;
    text-shadow: 1px 1px 2px black;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #e9ac55;
    background-color: #2220;
}
.nav-pills>li>a {
    color: #fff;
    transition: color .15s linear;
}
.nav-pills>li>a:hover {
    color: #e9ac55;
    background-color: #2220;
}
.navbar {
    margin-bottom: 0;
}
.navbar-inverse {
    padding: 1%;
    border: none;
    border-radius: 0;
    background-image: linear-gradient(to bottom,#b9c88b 0,#030f58 100%);
    background-color: #2220;
    border-color: #08080800;
}
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form, .navbar-inverse .navbar-toggle:focus{
    border-color: #2220;
    background-color: #2220;
}
.navbar-collapse {
    border: none;
}

/* Content */
.cont_unread {
    background-color: #2a2d67;
}
.cont_read {
    background-color: #00045d;
}
.wrapper {
    min-height: 100%;
    background: url(../img/angel3.jpg) center no-repeat;
    background-size: cover;
}
.wrapper-login {
    min-height: 100%;
    background-color: #00045d;
}
.block1 {
    color: white;
    text-align: center;
}
.block1 h1 {
    margin-top: 150px;
    text-shadow: 1px 1px 2px black;
}
.block1 p {
    margin-top: 30px;
    text-shadow: 1px 1px 2px black;
}
.block1 a {
    color: white;
    transition: color .15s linear;
    text-shadow: 1px 1px 2px black;
}
.block1 a:hover {
    color: #e9ac55;
}
.error h1 {
    text-align: center;
    font-size: 130px;
    color: white;
    margin-top: 100px;
    text-shadow: 1px 1px 2px black;
}
.error p {
    text-align: center;
    font-size: 60px;
    color: white;
    margin-top: 20px;
    text-shadow: 1px 1px 2px black;
}
.error div {
    text-align: center;
    font-size: 60px;
    color: red;
    margin-top: 20px;
    text-shadow: 1px 1px 2px black;
}

/* After auth */
.bgw {
    background-color: white;
}

/* Login page */
.mtt {
    margin-top: 100px;
}
.input-login {
    margin-top: 50px;
    text-shadow: 1px 1px 2px black;
    color: white;
}
.btn {
    margin-top: 25px;
    background-color: #2220;
    font-size: 20px;
}
.btn:hover {
    background-color: #2220;
    border-color: #08080800;
    color: #e9ac55;
    transition: color .15s linear;
}
/* Register page */
.topic {
    color: white;
    font-size: 40px;
    font-family: 'Marcellus', serif;
    text-shadow: 1px 1px 2px black;
    margin-top: 60px;
}
.input-register {
    margin-top: 10px;
    text-shadow: 1px 1px 2px black;
    color: white;
}
.form-check-label {
    color: white;
    font-size: 16px;
    font-family: 'Marcellus', serif;
    text-shadow: 1px 1px 2px black;
    margin-top: 20px;
}

.err {
    color: red;
    font-size: 16px;
    font-family: 'Marcellus', serif;
    text-shadow: 1px 1px 2px black;
    margin-top: 20px;
}


/* Footer */
footer {
    color: white;
    background-color: #55756e;
    text-shadow: 1px 1px 2px black;
}
footer a {
    color: white;
    transition: color .15s linear;
}
footer a:hover {
    color: #e9ac55;
}
footer .navbar-inverse {
    background-image: linear-gradient(to bottom,#0d5b65 0,#08125a 100%);
}

/* Media query */

@media (max-width: 767px) {
    .nav-pills>li {
        float: none;
    }
    .nav-pills {
        text-align: center;
    }
    .header>h1 {
        letter-spacing: 5px;
        font-size: 421%
    }
    .header {
        text-align: center;
    }
}
